<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <script
      src="https://unpkg.com/htmx.org@1.6.1"
      integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width,initial-scale=0.5" />
    <style>
      body {
        font-family: "IBM Plex Mono", monospace;
      }
      td {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    </style>
  </head>
  <body>
    <h1>Equity <small>- transaction tracker</small></h1>
    <h3>Navigation</h3>
    <table border="1">
      <tr>
        <td><a href="{{ url_for('get_transactions') }}">Transactions</a></td>
        <td>
          <a href="{{ url_for('get_payments') }}">Payments</a>
        </td>
        <td>
          <a href="{{ url_for('get_debtors') }}">Debtors</a>
        </td>
        <td>
          <a href="{{ url_for('get_summary') }}">Summary</a>
        </td>
        <td>
          <a href="{{ url_for('upload_statement_csv') }}">Upload</a>
        </td>
      </tr>
      <tr></tr>
    </table>
    {% block body %} {% endblock %}
  </body>
</html>
