{% set COLS_TO_IGNORE = ['emailed', 'transaction_ids'] %}

{% extends "base.html" %}

{% block title %} Debtors {% endblock %}

{% block body %}
	<h2>Debtors</h2>

	<form hx-post="{{ url_for('add_debtor') }}">
		<label for="name">Full name:</label><br>
		<input autocomplete="off" value="" required placeholder="Mickey Mouse" type="text" name="name"><br>
		<label for="email">Email:</label><br>
		<input autocomplete="off" value="" required placeholder="me@example.com" type="email" name="email"><br>
		<button type="submit">Add debtor</button>
	</form>
	<br>
	<table border='1'>
		{% for debtor in debtors %}
			{% if loop.index0 == 0 %}
				{% set headers = debtor.keys() %}
				{% for header in headers %}
					{% if header not in COLS_TO_IGNORE %}
						<th>{{ header | upper }}</th>
					{% endif %}
				{% endfor %}
				<th>ACTIONS</th>
			{% endif %}
			<tr>
				{% for k, v in debtor.items() %}
						{% if k not in COLS_TO_IGNORE %}
							<td align='right'>{{ v }}</td>
						{% endif %}
				{% endfor %}
				<td class='actions-{{ debtor.person_id }}' align='center' hx-swap='this'>
					{% if debtor.emailed %}
						Sent
					{% else %}
						<button hx-target='td.actions-{{ debtor.person_id }}' hx-get="{{  url_for('send_email', tone='happy', transaction_ids=debtor.transaction_ids, person_id=debtor.person_id) }}">Polite Email :)</button>
						<button hx-target='td.actions-{{ debtor.person_id }}' hx-get="{{ url_for('send_email', tone='angry', transaction_ids=debtor.transaction_ids, person_id=debtor.person_id) }}">Angry Email >:(</button>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
