{% from "macros.html" import charges_breakdown %}
<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <body>
    <h2>Attention Required</h2>
    <p>Dear debtor <b>{{ data.name }},</b></p>
    <p>
      Pay {{ data.total_amount }} to Kenzie.
    </p>
	{{ charges_breakdown(data.transactions) }}
    <p>
      Thanks
    </p>
	{% include "email_footer.html" %}
  </body>
</html>
