{% from "macros.html" import charges_breakdown %}
<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <body>
    <h2>Debt Collection</h2>
    <p>Hi <b>{{ data.name }},</b></p>
    <p>
      You are owing Kenzie {{ data.total_amount }}. Please transfer this amount
      to his bank account ASAP.
    </p>

    {{ charges_breakdown(data.transactions) }}

    <p>Regards,</p>
    <p>Kenzie Tandun</p>
    {% include "email_footer.html" %}
  </body>
</html>
