{% macro charges_breakdown(breakdown_details) %}
	<p>I have also listed the breakdown of your owing below:</p>
	<table>
	{% for detail in breakdown_details %}
		{% if loop.index0 == 0 %}
			{% set headers = detail.keys() %}
			{% for header in headers %}
				<th>{{ header | upper }}</th>
			{% endfor %}
		{% endif %}
		<tr>
			{% for k, v in detail.items() %}
				<td align='right'>{{ v }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
	</table>
{% endmacro %}
