<h3>Transactions</h3>
<table border="1">
  {% for owing in owings %} {% if loop.index0 == 0 %} {% set headers =
  owing.keys() %} {% for header in headers %} {% if header not in COLS_TO_IGNORE
  %}
  <th>{{ header | upper }}</th>
  {% endif %} {% endfor %}
  <th>ACTIONS</th>
  {% endif %}
  <tr>
    {% for k, v in owing.items() %}
    <td align="right">{{ v }}</td>
    {% endfor %}
    <td class="actions-{{ owing.person_id }}" align="center">
      <button
        hx-swap="outerHTML"
        hx-post="{{ url_for('assign_payments', ) }}"
        hx-vals='{"transaction_id": {{ owing.transaction_id }}, "person_id": {{ owing.person_id }}, "payment_transaction_id": {{ payment_transaction_id }} }'
      >
        Assign to transaction
      </button>
    </td>
  </tr>
  {% endfor %}
</table>
