{% set COLS_TO_IGNORE = ['is_payment', 'is_owing', 'debtor_id', 'paid'] %}

{% extends "base.html" %}

{% block title %} Payments {% endblock %}

{% block body %}
	<h2>Payments</h2>

	{% if not payments %}
		No unassigned payments found
	{% else %}
		<table border='1'>
			{% for payment in payments %}
				{% if loop.index0 == 0 %}
					{% set headers = payment.keys() %}
					{% for header in headers %}
						{% if header not in COLS_TO_IGNORE %}
							<th>{{ header | upper }}</th>
						{% endif %}
					{% endfor %}
					<th>ACTIONS</th>
				{% endif %}
				<tr>
					{% for k, v in payment.items() %}
							{% if k not in COLS_TO_IGNORE %}
								<td align='right'>{{ v }}</td>
							{% endif %}
					{% endfor %}
					<td class='actions-{{ payment.person_id }}' align='center'>
						<button 
							hx-target="#owing-table" 
							hx-get="{{ url_for('get_owing_transactions', amount=payment.amount, payment_transaction_id=payment.id) }}"
						>Process Payment
						</button>
					</td>
				</tr>
			{% endfor %}
		</table>
		<div id='owing-table'>
		</div>
	{% endif %}
{% endblock %}
