<!-- prettier-ignore -->
{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %} Summary {% endblock %}

<!-- prettier-ignore -->
{% block body %}

<h2>Spending for the Last X</h1>
<table border='1'>
{% for entry in spending %}
	{% if loop.index0 == 0 %}
		{% set headers = entry.keys() %}
		{% for header in headers %}
			{% if header not in COLS_TO_IGNORE %}
				<th>{{ header | upper }}</th>
			{% endif %}
		{% endfor %}
	{% endif %}
	<tr>
		{% for k, v in entry.items() %}
			{% if k not in COLS_TO_IGNORE %}
				<td align='right'>{{ v }}</td>
			{% endif %}
		{% endfor %}
	</tr>
{% endfor %}
</table>


<h2>Weekly Spending by Year</h2>
{% for weekly_plot in weekly_plots %}
	<img src='data:image/png;base64,{{ weekly_plot }}'></img>
{% endfor %}

<!-- prettier-ignore -->
{% endblock %}
