{% set COLS_TO_IGNORE = ['is_payment', 'is_owing', 'debtor_id', 'paid'] %}

{% extends "base.html" %}

{% block title %} Transactions {% endblock %}

{% block body %}
	<h2>Transactions</h2>

	<table border='1'>
	{% for entry in entries %}
		{% if loop.index0 == 0 %}
			{% set headers = entry.keys() %}
			{% for header in headers %}
				{% if header not in COLS_TO_IGNORE %}
					<th>{{ header | upper }}</th>
				{% endif %}
			{% endfor %}
				<th>ACTION</th>
		{% endif %}
		<tr>
			{% for k, v in entry.items() %}
				{% if k not in COLS_TO_IGNORE %}
					<td align='right'>{{ v }}</td>
				{% endif %}
			{% endfor %}
			{% if entry.paid %}
				<td align='center'>😊 Paid</td>
			{% elif entry.debtor_id %}
				<td align='center'>Awaiting payment</td>
			{% elif entry.is_owing %}
				<td class="actions-{{ entry.id }}" hx-swap='innerHTML' align='center'>
					<select name="person_id" class="person-id-{{ entry.id }}">
						{% for person in persons %}
						<option 
							{% if person.id == debtor_id %} selected {% endif %}
							value="{{ person.id }}"
						>{{ person.name }}</option>
						{% endfor %}
					</select>
					<button 
						hx-target='td.actions-{{ entry.id }}'
						data-id='{{ entry.id }}' 
						hx-post="{{ url_for('add_owing') }}"
						hx-include=".person-id-{{ entry.id }}"
						hx-vals='{"transaction_id": "{{ entry.id }}"}'
					>Add owing</button>
				</td>
			{% elif entry.is_payment %}
			{% else %}
				<td align='center'>-</td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>

{% endblock %}
